extends baseEmail

block content
  p Hi #{firstName},
  p want to reset your password ? submit new patch requist with a new password in this link  if you don't to reset your password please ignore this email
  p #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Upload user photo
  p if you don't to reset your password please ignore this email